Opening view -- needs login buttons -- which should go in layout 

First time visit: We're sorry for your loss, and hope we can be your home for the next year. Sign up to create a page where you can write, and your chosen friends and family can visit and see how you're doing and what you need. 

Later visits. Welcome back. We've been thinking about you. Are you here to -- Figure out options. 


<% if first_visit %> 
	<h2>Welcome</h2>
	<h3>We're sorry for your loss, and hope we can be your home for the next year. Sign up to create a page where you can write, and your chosen friends and family can visit and see how you're doing and what you need. </h3>
	link_to (route for post#create)

<% else %> 

<% end %> 